QFrame {
  background-color: rgb(35, 37, 49);
  font-size: 17px;
}

QLabel {
  color: rgb(35, 37, 49);
  background-color: rgb(85, 170, 255);
  font-size: 22px;
  font-style: bold;
  padding: 4 0 4 0;
}

QPushButton {
  color: rgb(85, 170, 255);
  background-color: rgb(35, 37, 49);
  border: 0px solid;
  font-size: 20px;
  font-style: bold;
}

QPushButton:hover {
  color: rgb(68, 71, 90);
  background-color: rgb(85, 170, 255);
}
